@using AxolotlProject.ViewModels
@model AdminViewModel
@{
    ViewData["Title"] = "Admin Panel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true"/>
<div id="page-container">
    <div class="main-container">
        <div class="main__inner">
            <div class="title">
                <span class="header-text">Admin Panel</span>
            </div>
            <div class="card">
                <div class="card__left">
                    <img class="card__image" src="https://avatars.githubusercontent.com/u/63110747" alt="avatar">
                </div>
                <div class="card__right">
                    <div class="right__top">
                        <div class="user_name">[id: 1209] Pretty Username</div>
                        <div class="role">category moderator</div>
                    </div>
                    <div class="right__bottom">
                        <div>Category: Computer Science</div>
                        <div>Warnings: 0</div>
                    </div>
                </div>
            </div>

            <!-- u know wha to do!1 -->
            <div class="title secondary-head">
                <span class="header-text">Find User</span>
            </div>
            <div class="gogomilana"> @*???????????????????????????*@
                
            </div>
            <form method="get">
                <div style="width: 95%; margin: 15px auto 5px;">
                    <input type="text" name="login" placeholder="Search by name" value="@ViewBag.Search" />
                    <button type="submit">Search</button>
                </div>
            </form>
            <div class="user-list">
                <table class="table">
                    <thead>
                        <tr>
                            @*<th class="first_cell_up">ID</th>*@
                            <th>User</th>
                            <th class="last_cell_up" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.searchedUsers)
                        {
                            <tr>
                                @*<td>@user.Id</td>*@
                                <td><a class="page_link" href="#">@user.Login</a></td>
                                <td>
                                    <div class="action"><a class="page_link" href="#">Edit</a></div> @*???*@
                                </td>
                                <td>
                                    <div class="action"><form class="inner_form" method="post" asp-controller="Admin" asp-action="Ban">
                                        <input type="hidden" name="id" value="@user.Id"/>
                                        <input type="submit" value="Ban">
                                    </form></div> @*ban user action*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- blocks for banned users -->
            <div class="title secondary-head">
                <span class="header-text">Banned Users</span>
            </div>
            <div class="banned_block">
                <table class="table">
                    <thead>
                        <tr>
                           @* <th class="first_cell_up">ID</th>*@
                            <th>User</th>
                            @*<th>Date</th>
                            <th>By</th>
                            <th class="wide_cell">Reason</th>*@     @*TO DO*@
                            <th class="last_cell_up" colspan="2">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.bannedUsers){
                            <tr>
                                @*<td>user.Id</td>*@
                                <td><a class="page_link" href="#">@user.Login</a></td>
                               @* <td>17.11.2022 08:13</td>
                                <td><a class="page_link" href="#">Pretty Username</a></td>
                                <td>-</td>*@
                                <td>
                                    <div class="action"><a class="page_link" href="#">Edit</a></div>
                                </td>
                                <td>
                                    <div class="action">
                                        <form method="post" asp-controller="Admin" asp-action="UnBan">
                                            <input type="hidden" name="id" value="@user.Id" />
                                            <input type="submit" value="Unban">
                                        </form>
                                    </div> @*ban user action*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <!-- pagination if needed -->
            <div class="pagination">
                <div class="pagination_part"><a class="page_link pag" href="?page=">&larr;</a></div>
                <div class="pagination_part current">2</div>
                <div class="pagination_part"><a class="page_link pag" href="?page=">&rarr;</a></div>
            </div>

        </div>
    </div>
</div>